@charset "utf-8";

@font-face {
	font-family: 'KievitOT-MediumItalic';
	src: url(../fonts/KievitOT-MediumItalic.woff2);
	font-weight: normal;
}
@font-face {
	font-family: 'SpoqaHanSansRegular';
	src: url(../fonts/SpoqaHanSansRegular.woff2);
	font-weight: normal;
}
