@charset "utf-8";
body {
	font-family: 'KievitOT-MediumItalic', 'SpoqaHanSansRegular', sans-serif;
}
:root {
	--main-color: #33AEB6;
}

body {
	font-family: 'SpoqaHanSansRegular', sans-serif;
}
.screen_out {
	display: block;width: 0;height: 0;overflow: hidden;
}
.inner {width: 1280px;margin: auto;}
button, a {cursor: pointer;}



header .inner {
	display: flex;justify-content: space-between;align-items: center;
	position: relative;padding: 25px 0 0 0;
}
header {
	position: fixed;left: 0;right: 0;top: 0;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	z-index: 100;
}
header::after {
	content: "";height: 130px;opacity: 0;
	position: absolute;left: 0;right: 0;top: 0;z-index: -1;
	background: #FFF;transition: all 0.5s;
}
header:hover::after {
	height: 400px;opacity: 1;
}
header h1 a {
	display: block;width: 232px;height: 36px;
	background: url(../img/logo-main.png) no-repeat;
}
header.on {
	border-bottom: 1px solid #efefef;
	color: #333;background: #FFF;
	transition: all 0.7s;
}
header.on h1 a {
	background: url(../img/logo.png);
	background-position: center bottom;
}
header.on #gnb .dep1 {
	color: #333;
}
header.on .resort img {
	background: url(../img/logo_resort.png) no-repeat;
	width: 18px;height: 18px;display: block;
}
header.on .util>li {
	color: #333;
}

header #gnb .dep1 {
	display: flex;gap: 75px;padding: 40px 0 40px 30px;
	font-size: 18px;color: #fff;
}
/* header #gnb .dep1>a:hover::after {border: 1px solid #000;
	width: 5px;height: 5px;border-radius: 50%;
	background: red;position: absolute;
	left: 0;top: 0;
} */
header #gnb .dep1>li>a {
	position: relative;
}
header #gnb .dep1>li:hover>a {
	color: red;
}
header .dep2_wrap {
	display: block;position: relative;
}
header #gnb .dep2>li:hover>a {
	color: red;
}
header #gnb .dep2 {
	display: flex;flex-direction: column;gap: 10px;
	text-align: center;font-size: 16px;
	position: absolute;top: 42px;left: -20px;
	width: 130px;padding: 10px 20px 0 0;
}


.util {
	display: flex;gap: 20px;align-items: center;
	position: absolute;right: 0px;top: 20px;
}
.util .resort img {
	width: 18px;height: 18px;margin: 0 7px 0 0;
}
.util>li {
	font-size: 13px;color: #fff;
}
.util .resort a {
	display: flex;align-items: center;
}




/* Main */
.visual_swiper {
	overflow: hidden;
}
.visual_swiper .swiper-slide {
	height: 100vh;
}
.visual_swiper .slide_txt {
	display: flex;flex-direction: column;
	position: relative;top: 188px;left: 312px;
	color: #FFF;
}
.visual_swiper .swiper-slide .main-t {
	font-size: 86px;
}
.visual_swiper .swiper-slide span:last-child {
	font-size: 24px;
}
.visual_swiper .slide1 {
	background: url(../img/main-visual3.jpg) no-repeat;
}
.visual_swiper .slide2 {
	background: url(../img/main-visual2.jpg) no-repeat;
}



/* navigation */
.visual_swiper .swiper-prev {
	position: absolute;bottom: 356px;left: 312px;
	font-size: 50px;color: #FFF;
	z-index: 10;cursor: pointer;
}
.visual_swiper .swiper-next {
	position: absolute;bottom: 356px;left: 390px;
	font-size: 50px;color: #FFF;
	z-index: 10;cursor: pointer;
}
.visual_swiper .auto-controls {
	position: relative;cursor: pointer;
}
/* .visual_swiper .auto-controls .auto-p {
	position: absolute;bottom: 374px;left: 440px;z-index: 10;
	width: 30px;height: 30px;border-radius: 50px;
	color: rgba(0, 0, 0, 0.7)
} */
.visual_swiper .auto-p .auto-play {
	display: none;
	position: absolute;bottom: 365px;left: 445px;z-index: 10;
	font-size: 30px;color: rgba(255, 255, 255, 0.6)
}
.visual_swiper .auto-controls .auto-stop {
	/* display: none; */
	position: absolute;bottom: 365px;left: 445px;z-index: 10;
	font-size: 30px;color: rgba(255, 255, 255, 0.6)
}

/* event */
.event h2 {
	padding: 100px 0 50px 0;
	font-size: 96px;color: rgba(0, 0, 0, 0.2);
	text-align: center;
}
.event .e-nav {
	position: relative;
}
.event .e-nav .tap {
	display: flex;justify-content: center;gap: 10px;
	color: #555;
}
.event .e-nav .e-plus {
	position: absolute;top: 50%;right: 0;
	transform: translateY(-50%);
	text-decoration: underline var(--main-color) 6px;font-size: 18px;
}
.event .e-nav .tap a {
	width: 118px;
	padding: 10px 28px;font-size: 18px;
	background: #FFF;border: 1px solid #EEE;
	border-radius: 30px;text-align: center;
}
.event .e-nav .tap a:first-child {
	background: var(--main-color);border: 1px solid var(--main-color);
	color: #FFF;
}
.event .event-swiper {overflow: hidden;padding: 72px 0;position: relative;}
.event .swiper-slide {
	display: flex;justify-content: space-between;
}
.event .event_first {
	display: flex;flex-wrap: wrap;flex-shrink: 0;gap: 36px;
	width: 336px;height: 401px;
}
.event .event_last {
	display: flex;flex-wrap: wrap;flex-shrink: 0;gap: 36px;
	width: 336px;height: 401px;
}
.event .event_content {
	display: flex;flex-direction: column;
	align-items: start;gap: 10px;
	width: 150px;height: 210px;color: #777;
}
.event .event_content .img_box {
	position: relative;
	overflow: hidden;
	width: 150px;height: 150px;border-radius: 50%;
}
.event .event_content .img_box img {
	width: 100%;height: 100%;
	transition: all 0.5s;
	object-fit: cover;
}
.event .swiper-slide .img_box:hover img {
	transform: scale(1.1);
}
.event .event_content .img_box .img_bg {
	position: absolute;left: 0;
	display: none;
	width: 150px;height: 150px;
	background: rgba(255, 0, 0, 0.5);z-index: 10;
}
.event .event_content .number {
	display: block;position: absolute;
}
.event .event_content .txt_box>span {display: none;}
.event .event_content .txt_box {position: relative;}
.event .event_content .txt_box .skyhill_box {
	position: absolute;left: 5px;top: -35px;
	padding: 2px 7px;;z-index: 100;
	background: #888;border-radius: 3px;
	transform: skew(-23deg);
}
.event .skyhill_box .skyhill {
	color: #FFF;font-size: 13px;
}
.event .event_main {
	display: flex;position: relative;
}
.event .event_main .event_main_content {
	display: flex;flex-direction: column;
	align-items: center;gap: 30px;
}
.event .event_main .event_main_content .event_main_txt {
	display: flex;flex-direction: column;padding: 20px 0 0 0;
	align-items: center;gap: 15px;position: relative;
}
.event .event_main .event_main_txt .main_skyhill_box {
	position: absolute;top: -50%;left: 50%;
	padding: 3px 15px;;z-index: 100;
	background: #da291c;border-radius: 3px;
	transform: skew(-23deg) translate(-50%, 50%);
}
.event .event_main .event_main_txt .main_skyhill {
	color: #FFF;font-size: 13px;
}
.event .event_main .event_main_content .event_main_txt strong {
	font-size: 24px;font-weight: bold;
}
.event .event_main .event_main_txt span {font-size: 18px;}
.event .event_main .event_main_txt>span:last-child {font-size: 16px;color: #777;}
.event .event_main_content img {
	width: 500px;height: 500px;border-radius: 50%;
}
.event .event_main>img {
	position: absolute;left: -15%;bottom: 10%;
	transform: translate(30%, -10%);
}
.event .event_navigtion {
	display: flex;gap: 500px;
	position: absolute;left: 26%;bottom: 13%;;z-index: 10;
	font-size: 60px;color: #777;
}
.event .event-pagination {
	position: absolute;left: 50%;
	text-align: center;
}
.event .event-pagination span {
	width: 12px;height: 12px;
}



/* promotion */
.promotion {
	position: relative;padding: 100px 0;
	background: url(../img/promotion-bg.jpg) no-repeat right bottom;
	background-size: cover;
}
.promotion h2 {
	padding: 0 0 70px 0;
	font-size: 96px;color: #FFF;
	text-align: center;
}
.promotion .p-nav {position: relative;}
.promotion .p-nav .tap {
	display: flex;justify-content: center;gap: 10px;
}
.promotion .p-nav .tap a {
	width: 118px;
	padding: 10px 28px;font-size: 18px;
	border: 1px solid #EEE;color: #FFF;
	border-radius: 30px;text-align: center;
}
.promotion .p-nav .tap a:first-child {
	background: var(--main-color);border: 1px solid var(--main-color);
	color: #FFF;
}
.promotion .p-nav .p-plus {
	position: absolute;top: 50%;right: 0;
	transform: translateY(-50%);
	text-decoration: underline var(--main-color) 6px;font-size: 18px;
}

.promotion .promotion_swiper {overflow: hidden;position: relative;}
.promotion .swiper-slide{margin-right: 20px;}
.promotion .promotion_swiper a {
	display: block;
	width: 305px;height: 420px;
	background: #FFF;
}
.promotion .swiper-slide:nth-of-type(1n) {
	margin-top: 60px; transition: all 0.5s;
}
.promotion .swiper-slide:nth-of-type(1n):hover {
	margin-top: 40px;
}
.promotion .swiper-slide:nth-of-type(2n) {
	margin-top: 140px;transition: all 0.5s;
}
.promotion .swiper-slide:nth-of-type(2n):hover {
	margin-top: 120px;
}
.promotion .p-memeberList {
	display: flex;flex-direction: column;gap: 10px;
	padding: 42px 32px 22px 30px;
}
.promotion .p-member-l {
	display: flex;flex-direction: column;gap: 8px;
}
.promotion .p-member-l strong {
	font-size: 22px;font-weight: bold;
	overflow: hidden;white-space: nowrap;
	text-overflow: ellipsis;
}
.promotion .p-member-l span {
	font-size: 16px;color: #777;
}
.promotion .p-member-r {
	position: absolute;right: 32px;bottom: 18px;
	display: flex;gap: 12px;
}
.promotion .p-member-r span{
	font-size: 16px;color: #777;
}
.promotion .promotion_swiper span>strong {
	font-size: 22px;color: red;
}
.promotion .promotion_navigtion {
	display: flex;justify-content: center;gap: 200px;
	color: #FFF;
}
.promotion .swiper-promotion-prev {
	font-size: 50px;cursor: pointer;
}
.promotion .swiper-promotion-next {
	font-size: 50px;cursor: pointer;
}
.promotion .promotion-pagination {
	position: absolute;left: -48%;top: 50%;
	transform: translate(48%, -50%);
}
.promotion .promotion-pagination span {
	width: 12px;height: 12px;
}
.promotion .swiper-pagination-bullet {
	opacity: .4;
}
.promotion .swiper-pagination-bullet-active {
	opacity: 1;
}


/* Club */
.club {position: relative;
	padding-bottom: 150px;
	border-bottom: 1px solid #eee;
}
.club h2 {
	padding: 100px 0 50px 0;
	font-size: 96px;color: rgba(0, 0, 0, 0.2);
	text-align: center;
}
.club .c-content {display: flex;gap: 45px;}
.club .c-content>img:first-child {
	position: absolute;left: 0;top: 0;
}
.club .c-content>img {
	position: absolute;right: 0;top: 0;
}
.club .c-content-l {position: relative;}
.club .c-txt-l {
	position: absolute;bottom: 45px;left: 280px;
	text-align: end;color: #FFF;
}
.club .c-t {
	display: flex;flex-direction: column;
}
.club .c-t span {
	font-size: 18px;
}
.club .c-t a {
	font-size: 28px;
}
.club .c-b {
	display: flex;
	padding-top: 20px;
}
.club .c-b a {
	font-size: 18px;
}
.club .c-b a::after {
	content: "";
	border-right: 1px solid #4B4B49;
	font-size: 10px;margin: 0 15px;
}
.club .c-b a:last-child::after {display: none;}
.club .c-content-r {position: relative;}
.club .c-txt-r {
	position: absolute;bottom: 45px;left: 280px;
	text-align: end;color: #FFF;
}



/* Membership */
.membership {
	border-bottom: 1px solid #EEE;
	padding-bottom: 50px;
}
.membership h3 {
	padding: 80px 0 50px 0;font-size: 46px;
}
.membership .m-nav {
	display: flex;flex-direction: column;
	gap: 40px;align-items: center;
	padding: 70px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.membership .m-sale-all {
	display: flex;gap: 50px;
}
.membership .m-sale-all .m-sale {
	display: flex;align-items: center;gap: 20px;
}
.membership .m-txt {
	display: flex;flex-direction: column;gap: 5px;
}
.membership .m-txt .m-txt-point {color: var(--main-color);}
.membership .m-txt strong {font-size: 22px;font-weight: bold;}
.membership .m-txt span {font-size: 18px;color: rgba(0, 0, 0, 0.6);}
.membership p {font-size: 18px;}
.membership p>strong {font-size: 16px;font-weight: bold;}
.membership a {
	display: flex;gap: 60px;align-items: center;
	padding: 20px 30px;border-radius: 50px;
	color: #FFF;background: var(--main-color);
	font-size: 20px;
}
/* .membership .m-nav .ri-arrow-right-s-line {font-size: 16px;} */



/* Notice */
.notice {padding-bottom: 100px;}
.notice .notice-title {
	position: relative;
	display: flex;justify-content: space-between;
	align-items: center;padding: 80px 0 50px 0;
}
.notice .n-nav>span {font-size: 22px;font-weight: bold;color: #aaa;}
.notice h3 {font-size: 46px;}
.notice .n-tab {
	display: flex;flex-direction: column;flex-grow: 0;
}
.notice .n-t-city {display: flex;gap: 10px;}
.notice .n-t-city a {
	width: 120px;padding: 10px 28px;
	border: 1px solid #EEE;border-radius: 30px;
	text-align: center;font-size: 18px;color: #555;
}
.notice .n-t-city a:first-child {
	background: var(--main-color);border: 1px solid var(--main-color);
	color: #FFF;
}
.notice .n-plus {
	position: absolute;bottom: 10%;right: 0;transform: translateY(-10%);
	text-decoration: underline var(--main-color) 6px;font-size: 18px;
}

.notice .notice-news {
	display: flex;justify-content: space-between;
}
.notice .n-news-l {
	display: block;position: relative;
}
.notice .n-main {
	display: flex;flex-direction: column;justify-content: space-between;
	position: absolute;left: 0;bottom: 0;
	width: 520px;height: 208px;
	padding: 20px 20px 10px;background: #FFF;
	z-index: 100;
}
.notice .notice-first {
	display: flex;flex-direction: column;
	font-size: 22px;
}
.notice .notice-first>span:first-child {color: red;}
.notice .n-data {font-size: 16px;color: #777;}
.notice .n-news-r {
	display: grid;grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}
.notice .n-news-r>a {
	display: flex;flex-direction: column;gap: 50px;
	width: 285px;height: 210px;padding: 20px 30px;
	border: 1px solid #EEE;
}
.notice .n-news-r>a:nth-child(2) {
	background: #EEE;
}
.notice .n-news-r>a:nth-child(3) {
	background: #EEE;
}
.notice .news-r-first {
	display: flex;flex-direction: column;
	gap: 8px;font-size: 18px;
	padding-top: 20px;
}
.notice .news-r-first span:first-child {
	color: red;
}


/* Links */
.links {
	background: #3c3c3c;color: #FFF;
	padding: 80px 0;
}
.links .links_content {
	display: flex;flex-direction: column;gap: 50px;
}
.links .links_resort {
	display: flex;justify-content: space-between;
}
.links .links_resort>strong {font-size: 24px;}
.links .links_resort .resort_content {
	display: flex;gap: 10px;
}
.links .links_resort .resort_content a {
	display: flex;flex-direction: column;gap: 12px;
}
.links .links_resort .resort_content img {
	width: 230px;
}
.links .links_resort .resort_content strong {
	font-size: 18px;
}
.links .links_resort .resort_content span {
	font-size: 15px;color: #aaa;
}
.links .links_skyhill {
	display: flex;gap: 125px;
}
.links .links_skyhill>strong {font-size: 24px;}
.links .links_skyhill .skyhill_content {
	display: flex;gap: 10px;
}
.links .links_skyhill .skyhill_content a {
	display: flex;flex-direction: column;gap: 12px;
}
.links .links_skyhill .skyhill_content img {
	width: 230px;
}
.links .links_skyhill .skyhill_content strong {
	font-size: 18px;
}
.links .links_skyhill .skyhill_content span {
	font-size: 15px;color: #aaa;
}


/* Footer */
footer {background: #444;color: #aaa;}
footer .inner {padding: 40px 0;position: relative;}
footer .footer_address {
	display: flex;gap: 40px;
}
footer h2 a {
	display: block;width: 201px;height: 32px;
	background: url(../img/foot_logo.png) no-repeat;
}
footer .footer_content {
	display: flex;flex-direction: column;gap: 20px;
	font-size: 15px;
}
footer .footer_content .footer_link {
	display: flex;gap: 30px;font-size: 16px;
}
footer .footer_link a:first-child {color: #FFF;}
footer .footer_content address {line-height: 2em;}
footer .footer_familysite button {
	display: flex;gap: 70px;align-items: center;
	position: absolute;right: 0;
	top: 40%;transform: translateY(-40%);
	color: #FFF;border-bottom: 1px solid #A2A2A2;
	padding-bottom: 6px;
}
footer .footer_familysite .familysite_content {
	display: none;flex-direction: column;
	position: absolute;right: -30px;top: -115px;
	font-size: 12px;color: #FFF;padding: 15px 0 0 20px;
	line-height: 2em;transition: all .5s;
	width: 200px;height: 210px;background: #5b5b5b;
	border: 1px solid #333;overflow-y: scroll;
}
footer .familysite_content span {font-size: 13px;}
footer .footer_links {
	position: absolute;right: 0;bottom: 0;
}